[submodule "extra/exec-path-from-shell"]
	path = extra/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "extra/nerd-icons"]
	path = extra/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el.git
[submodule "extra/nerd-icons-dired"]
	path = extra/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired.git
[submodule "extra/company-mode"]
	path = extra/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "extra/catppuccin"]
	path = extra/catppuccin
	url = https://github.com/catppuccin/emacs.git
